<header class="divider">
  <div class="logo">
    <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
    <a href="/index.html"> Sleep<span class="highlight">Outside</span></a>
  </div>
  <div class="cart">
    <a href="/cart/index.html" class="cart-link">
      <img src="/images/noun_Backpack_65884.svg" alt="cart icon" style="width:32px;height:32px;vertical-align:middle;" />
      <!-- Cart count and items text will be injected by JS -->
    </a>
    <a href="/checkout/index.html" class="checkout-link">
      Checkout</a>
  </div>
</header>
